<div id="loans" class="section">

    <!-- Loans Management Card -->
    <div class="container-fluid">
        <!-- Table Tab Controllers -->
        <ul class="nav nav-pills border-0 rounded-pill {% if current_user.membership %} justify-content-around bg-light p-2 {% else %} justify-content-end {% endif %}" role="tablist">
            {% if current_user.membership %}
            <li class="nav-item" role="presentation">
                <a class="nav-link rounded-pill {% if not current_user.membership %} active {% endif %}" id="pending-loans-tab" data-bs-toggle="tab" href="#pending-loans" role="tab" aria-controls="pending-loans" aria-selected="true">Pending Loans</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link rounded-pill {% if current_user.membership %} active {% endif %}" id="all-loans-info-tab" data-bs-toggle="tab" href="#all-loans-info" role="tab" aria-controls="all-loans-info" aria-selected="false">View All Loans</a>
            </li>
            {% endif %}
            <!-- Edit Profile Link -->
            <li class="nav-item justify-content-end">
                <a href="{{ url_for('routes.add_loan') }}" class="nav-link rounded-pill">{% if current_user.role.name in ['admin', 'system'] %} Add a New Loan {% else %} Request for a loan {% endif %}</a>
            </li>
        </ul>

        <div class="h2 text-center text-dark mb-2">Loans Management</div>
        <p class="text-center fst-italic text-muted"> {% if current_user.membership %}Empowering Dreams, Building Community {% else %} Your Path to Financial Growth {% endif %} </p>

        <!-- Data Table -->
        <div class="tab-content mt-2">
            <!-- Table 1 -->
            <div class="tab-pane fade {% if not current_user.membership %} show active {% endif %}" id="pending-loans" role="tabpanel" aria-labelledby="pending-loans-tab">
                <div class="card">
                    <div class="card-header">Pending Verification Loans Data tables</div>
                    <div class="card-body">
                        <div class="table-responsive pb-5">
                            <table
                            id="data-table-1"
                            class="table table-striped data-table-1 text-center"
                            style="width: 100%"
                            >
                                <thead class="table-primary">
                                    <tr>
                                    <th>Customer</th>
                                    <th>Guarantor</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Type</th>
                                    <th>Term</th>
                                    <th>Principal</th>
                                    <th>Rate</th>
                                    <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for loan in loans | reverse %} {% if (
                                    (loan.loan_status=='pending' and current_user.role.name in
                                    ['admin','system']) or (loan.loan_status == 'pending' and
                                    loan.guarantor_name == current_user.first_name ~ ' ' ~
                                    current_user.last_name) or (loan.loan_status == 'pending' and
                                    loan.customer_name == current_user.first_name ~ ' ' ~
                                    current_user.last_name) ) %}

                                    <tr>
                                    <td>{{ loan.customer_name.title() }}</td>
                                    <td>{{ loan.guarantor_name.title() }}</td>
                                    <td>
                                        {{ loan.timestamp.strftime('%d/%m/%Y') if loan.timestamp
                                        else "N/A" }}
                                    </td>
                                    <td>
                                        {{ loan.timestamp.strftime('%H:%M:%S') if loan.timestamp
                                        else "N/A" }}
                                    </td>
                                    <td>{{ loan.loan_type.title() }}</td>
                                    <td>{{ loan.loan_duration }} days</td>
                                    <td>KES {{ '%.0f'|format(loan.principal) }}</td>
                                    <td>{{ '%.0f'|format(loan.interest_rate) }} %</td>
                                    <!-- Action Buttons-->
                                    <td>
                                        <div class="btn-group">
                                            <button
                                            type="button"
                                            class="btn btn-outline-secondary btn-sm dropdown-toggle"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false"
                                            >
                                            Actions
                                            </button>
                                            <ul class="dropdown-menu justify-content-end">
                                            {% if loan.loan_status == 'pending' and current_user.membership %}
                                                <li>
                                                <a
                                                    class="dropdown-item text-success"
                                                    style="cursor: pointer"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#confirmationModal"
                                                    data-bs-url="{{ url_for('routes.approve_loan', loan_id=loan.id) }}"
                                                >
                                                    Approve
                                                </a>
                                                </li>
                                                <li>
                                                <a
                                                    class="dropdown-item text-danger"
                                                    style="cursor: pointer"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#confirmationModal"
                                                    data-bs-url="{{ url_for('routes.decline_loan', loan_id=loan.id) }}"
                                                >
                                                    Decline
                                                </a>
                                                </li>
                                            {% endif %}
                                            <li>
                                                <a
                                                href="{{ url_for('routes.edit_loan', loan_id=loan.id) }}"
                                                class="dropdown-item text-primary"
                                                style="cursor: pointer"
                                                >
                                                Edit
                                                </a>
                                            </li>
                                            </ul>
                                        </div>
                                    </td>
                                    </tr>
                                    {% endif %} {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Table 2 -->
            <div class="tab-pane fade {% if current_user.membership %} show active {% endif %}" id="all-loans-info" role="tabpanel" aria-labelledby="all-loans-info-tab">
                <div class="card">
                    <div class="card-header">All Loans Data tables</div>
                    <div class="card-body">
                        <div class="table-responsive pb-5">
                            <table
                            id="example"
                            class="table table-striped data-table-2 text-center"
                            style="width: 100%"
                            >
                                <thead class="table-primary">
                                    <tr>
                                        <th scope="col">Customer</th>
                                        <th scope="col">Guarantor</th>
                                        <th scope="col">Due_Date</th>
                                        <th scope="col">Term</th>
                                        <th scope="col">Principal</th>
                                        <th scope="col">Repayment</th>
                                        <th scope="col">Fines</th>
                                        <th scope="col">Partial</th>
                                        <th scope="col">Balance</th>
                                        {% if current_user.membership %}
                                        <th scope="col">Profit</th>
                                        {% endif %}
                                        <th scope="col">Status</th>
                                        {% if current_user.membership %}
                                        <th scope="col">Actions</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for loan in loans | reverse %}
                                    {% set loan_status_classes = {
                                        'pending': 'secondary',
                                        'approved': 'secondary',
                                        'declined': 'danger',
                                        'partially issued': 'info',
                                        'fully issued': 'warning',
                                        'partially paid': 'primary',
                                        'fully paid': 'success'
                                    } %}
                                    {% if (
                                        (loan.loan_status in ['approved', 'declined', 'partially issued', 'fully issued', 'partially paid', 'fully paid'] and
                                        (
                                            current_user.role.name in ['admin', 'system'] or
                                            current_user.membership or
                                            loan.customer_name == current_user.first_name ~ ' ' ~ current_user.last_name
                                        ))
                                    ) %}
                                    <tr>
                                        <td>{{ loan.customer_name.title() }}</td>
                                        <td>{{ loan.guarantor_name.title() }}</td>
                                        <td>{{ loan.payment_timestamp.strftime('%d/%m/%Y') if loan.payment_timestamp else "No Data" | safe }}
                                        </td>
                                        <td>{{ loan.loan_duration }} days</td>
                                        <td>KES {{ '%.0f'|format(loan.principal) }}</td>
                                        <td>KES {{ '%.0f'|format(loan.repayment) }}</td>
                                        <td>KES {{ '%.0f'|format(loan.fines) }}</td>
                                        <td>KES {{ '%.0f'|format(loan.partial_issuance) }}</td>
                                        <td>KES {{ '%.0f'|format(loan.partial_balance) }}</td>
                                        {% if current_user.membership %}
                                        <td>KES {{ '%.0f'|format(loan.profit) }}</td>
                                        {% endif %}
                                        <td
                                            class="text-{{ loan_status_classes.get(loan.loan_status, 'secondary') }} fst-italic"
                                        >
                                            {{ loan.loan_status.title() }}
                                        </td>
                                        <!-- Action Buttons-->
                                        {% if current_user.membership %}
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Actions</button>
                                                <ul class="dropdown-menu">
                                                {% if loan.loan_status == 'approved' and current_user.membership %}
                                                    <li><a class="dropdown-item text-success" data-bs-toggle="modal" data-bs-target="#confirmationModal" data-bs-url="{{ url_for('routes.issue_fully', loan_id=loan.id) }}">Mark as Fully Issued</a></li>
                                                    <li><a class="dropdown-item text-info" data-bs-toggle="modal" data-bs-target="#confirmationModal" data-bs-url="{{ url_for('routes.issue_partially', loan_id=loan.id) }}">Mark as Partially Issued</a></li>
                                                {% endif %}

                                                {% if loan.loan_status == 'partially issued' %}
                                                    <li><a class="dropdown-item text-success" data-bs-toggle="modal" data-bs-target="#confirmationModal" data-bs-url="{{ url_for('routes.issue_fully', loan_id=loan.id) }}">Mark as Fully Issued</a></li>
                                                {% endif %}

                                                {% if loan.loan_status == 'fully issued' %}
                                                    <li><a class="dropdown-item text-info" data-bs-toggle="modal" data-bs-target="#confirmationModal" data-bs-url="{{ url_for('routes.paid_partially', loan_id=loan.id) }}">Mark as Partially Paid</a></li>
                                                    <li><a class="dropdown-item text-success" data-bs-toggle="modal" data-bs-target="#confirmationModal" data-bs-url="{{ url_for('routes.paid_fully', loan_id=loan.id) }}">Mark as Fully Paid</a></li>
                                                {% endif %}

                                                {% if loan.loan_status == 'partially paid' %}
                                                    <li><a class="dropdown-item text-success" data-bs-toggle="modal" data-bs-target="#confirmationModal" data-bs-url="{{ url_for('routes.paid_fully', loan_id=loan.id) }}">Mark as Fully Paid</a></li>
                                                {% endif %}

                                                {% if loan.loan_status not in ['partially paid', 'fully issued', 'fully paid', 'declined'] %}
                                                    <li><a class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#confirmationModal" data-bs-url="{{ url_for('routes.decline_loan', loan_id=loan.id) }}">Decline Loan</a></li>
                                                {% endif %}

                                                <li><a href="{{ url_for('routes.edit_loan', loan_id=loan.id) }}" class="dropdown-item text-primary">Edit Loan</a></li>

                                                {% if loan.loan_status == 'declined' or current_user.role.name == 'system' %}
                                                    <li><a class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#confirmationModal" data-bs-url="{{ url_for('routes.delete_loan', loan_id=loan.id) }}">Delete</a></li>
                                                {% endif %}
                                                </ul>
                                            </div>
                                        </td>
                                        {% endif %}
                                    </tr>
                                    {% endif %} {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal to Show the action confirmation message -->
            <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="confirmationMessage">
                            <!-- Dynamic content for the confirmation message -->
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-sm btn-outline-secondary ml-2 rounded-pill" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-sm btn-outline-primary ml-2 rounded-pill" id="confirmActionButton">Yes, Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
